.range__box {
    display: flex;
    border: 1px solid black;
    position: relative;
    height: 5px;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.filters__range-values {
    display: flex; 
    justify-content: center;
    gap: 30px;
    align-items: center;
}

input[type="range"] {
    appearance: none;
    width: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 1em;
    width: 1em;
    background-color: blue;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: red;
}