@import '../../../lib/styles/normalize.css';
@import '../../../lib//styles/variables.scss';

.productsCart {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  padding: 0 30px;

  &__pages {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .active {
      background-color: $green;
    }
  }

  p {
    margin: 0;
  }

  &__list {
    margin: 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;


  }

  &__title {
    margin: 0;
    padding: 20px 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px 10px 0 0;


    padding: 0 10px;
  }



  &__controls {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}


.active {
  background-color: red;
}
