@import '/src/lib/style/normalize.css';

.productsCart {
    max-width: 800px;
    border: 1px solid black;
    border-radius: 10px;

    p {
        margin: 0;
    }

    &__list {
        margin: 0;
        padding: 10px
    }

    &__title {
        margin: 0;
        padding: 20px 10px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px 10px 0 0;
        background-color: black;
        color: #fff;
        padding: 0 10px;
    }

    &__controls {
        justify-content: space-between;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}