.products {
  width: 100%;
  border: 1px solid darkblue;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0.2rem;
    list-style: none;
    border: 1px solid firebrick;
  }

  &__items {
    display: flex;
    gap: 0.2rem;
  }

  &__articles {

    &_grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));

      .item {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 1fr auto;
      }
    }
  }

  &__buttons {
    padding: 0.1rem 0.4rem;
    background: none;
    border: 1px solid hotpink;
    cursor: pointer;
  }
}
