.filters__item {
  border: 1px solid black;
  overflow: hidden;

  .filters__title {
    margin: 0;
  }
}

.filters__list {
  padding: 0;
  overflow: auto;
  max-height: 150px;
}

.filters__list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  label {
    cursor: pointer;
  }

  p {
    margin: 0;
  }
}

.filters__list {
  padding: 0;
  overflow: auto;
  max-height: 150px;
}
