.sorts {
  &__types {
    position: relative;
    padding: 0 1rem;


    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &_increase {

      &::after {
        content: '↓';
        transform: translate(-50%, -50%) rotate(315deg);
      }
    }

    &_decrease {

      &::after {
        content: '↑';
      }
    }
  }
}
