.popup {
  position: fixed;
  transition: opacity 0.6s;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.692);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.popup-active {
  visibility: visible;
  opacity: 1;
}

.wrapper {
  padding: 2%;
  width: 50%;
  z-index: 99;
  position: absolute;
  background-color: black;
}
