.item {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid fuchsia;

  &__section {
    width: 100%;
    height: 100%;
    border: 1px solid goldenrod;
  }

  &__image {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid chartreuse;
  }

  &__discount {}

  &__title {}

  &__price {}

  &__button {}
}
