@import '../../../lib/styles/variables.scss';
@import '../../../App.scss';

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.5rem;
  width: min-content;
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;


  ::-webkit-scrollbar {
    width: 10px;

  }

  ::-webkit-scrollbar-thumb {
    background-color: $blueColorPrimary;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;

  }

  ::-webkit-scrollbar-thumb:active {
    background-color: $green;
  }

  &__control {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap;

    &-btn {
      padding: 0.25rem;
      border-radius: $borderRadius;
      transition: background $transition;

      &_active {
        background: $greenColorBasic;
      }
    }
  }

  .filters__item {
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    overflow: hidden;
    border-radius: 10px;

    .filters__title {
      margin: 0;
      text-align: center;
    }
  }

}


.inActive {
  color: gray;
  opacity: 0.5;
}
