@import '../../App.scss';

.header {
  padding: $paddingBasic;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap * 2;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
