@import '../../../App.scss';

$countSize: 1.25rem;
$cartSize: 3rem;
$lineHeight: calc($cartSize / 2);

.cart {
  display: grid;
  align-items: center;
  gap: 0 $gap;
  font-size: 1.25rem;
  @include PoppinsRegular;
  font-weight: 400;
  // font-weight: 500;
  // font-weight: 600;

  &__total,
  &__discount {
    min-width: 3rem;
    line-height: $lineHeight;
    color: $blueColorPrimary;
  }

  &__total {
    &::first-letter {
      margin-right: 0.1rem;
      font-size: 0.8rem;
    }
  }

  &__discount {
    &::after {
      content: '%';
      margin-left: 0.1rem;
      font-size: 0.8rem;
    }
  }

  &__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    svg {
      width: 80%;
      height: 80%;
      fill: $purpleTextColor;
      transition: transform $transition;
    }

    &:hover {

      svg {
        transform: scale(1.1);
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1 / 3;
    width: $cartSize;
    height: $cartSize;
    padding: 0;
    color: inherit;
    text-decoration: none;

    &_active {
      pointer-events: none;
    }
  }

  &__count {
    box-sizing: content-box;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -25%);
    width: $countSize;
    height: $countSize;
    color: $whiteTextColor;
    font-size: 0.75rem;
    line-height: $countSize;
    text-align: center;
    background: $blueColorPrimary;
    border: 0.25rem solid $whiteBackgroundColor;
    border-radius: 50%;
  }
}
