.cart {
  display: grid;
  gap: 0 0.5rem;
  border: 1px solid red;

  &__total {
    line-height: 2rem;
  }

  &__discount {
    line-height: 2rem;
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1 / 3;
    width: 4rem;
    height: 4rem;
    padding: 0;
    color: inherit;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 50%;

    &_active {
      color: green;
      pointer-events: none;
    }
  }

  &__count {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    background: goldenrod;
    border: 1px solid blue;
    border-radius: 50%;
  }
}
