@import '../../App.scss';

.search {
  display: flex;
  justify-content: center;

  &__form {
    position: relative;
    display: flex;
    justify-content: center;
    gap: $gap;
  }

  &__input {
    padding: 0.25rem 1.75rem 0.25rem 0.75rem;
    background: $greyBackgroundColor;
    color: inherit;
    border: 2px solid transparent;
    outline: transparent;
    border-radius: $borderRadius;
    transition: border $transition;

    &:hover {
      border: 2px solid $orangeColorBasic;
    }

    &:focus {
      border: 2px solid $blueColorPrimary;
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      appearance: none;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 2rem;
    padding: 0;
    border: 0 solid transparent;
    background: transparent;
    cursor: pointer;
  }

  &__reset {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);

    svg {
      fill: $blueColorPrimary;
      transition: fill $transition;
    }

    &:hover {

      svg {
        fill: $redColorBasic;
      }
    }

    &:active {

      svg {
        fill: $greenColorBasic;
      }
    }
  }
}
