@import '../../../../../App.scss';

.article {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  gap: $gap;
  height: min-content;
  padding: 0.5rem;
  box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: $borderRadius;
  transition: box-shadow $transition;

  &__link {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: $gap;
    color: inherit;
    text-decoration: none;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid chartreuse;
    cursor: pointer;

    &_active {
      border: transparent;
      outline: 1px solid orangered;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    margin: 0;
    grid-column: 1 / -1;
  }

  &__subtitle {
    font-weight: normal;

    &_bold {
      font-weight: bold;
      margin: 0.25rem 0;
    }
  }

  &__rating {
    margin: 0;
  }

  .picture {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: $gap;

    &__button {
      padding: 0;
      border: none;
      background: none;
    }

    &__current {
      transform: none;
    }

    &__previews {
      display: grid;
      gap: $gap;
      height: auto;
      padding: 0.5rem;
    }
  }

  .purchase {
    grid-template-rows: auto;
    align-content: center;

    &__button {
      &_now {
        @extend %PrimaryButton;
      }
    }
  }
}

@keyframes modal-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: modal-animation 0.3s;
}

.modal {
  position: relative;
  height: 100%;
  max-width: 90vw;
  max-height: 60vh;
  text-align: center;

  &__image {

    &:hover {
      transform: none;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    font-size: 2rem;
    color: red;
    background: transparent;
    border: 0;

    &:hover {
      color: green;
      cursor: pointer;
    }
  }
}
