@import './App.scss';

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  @include PoppinsMedium;
  color: $purpleTextColor;
  // color: red;
}


.btn {
  background-color: $blueColorPrimary;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all .5s;
}

.btn:hover {
  background-color: $yellow
}
